h1, h2 {
  font-family: Lato;
}

table.matrix {
  border-collapse: collapse;
  display: inline-table;
}

table.matrix td {
  border: solid black 1px;
}

section {
  background: yellow;
  margin-left: 200px;
  opacity: 0;
}

section.log {
  background-color: white;
  opacity: 1;
  margin-left: 0;
  transition: background-color 3s, opacity 1s, margin-left 1s;
}